# compiled output
/dist
/node_modules
db-seed/node_modules
db-seed/.env
db-seed/.env.local
db-seed/.env.dev
db-seed/.env.prod
stress-test/data/node_modules
stress-test/reports/
stress-test/resources/
stress-test/data/.env
stress-test/data/.env.local
stress-test/data/.env.dev
stress-test/data/.env.prod

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ENV
.env.local
.env.dev
.env.prod
.env
.docker/.env.docker
.commands

# Volumes
.docker/volumes/