### AWS ###
export CDK_DEFAULT_ACCOUNT="xxxxxxxx" # Nightfall AWS Account
export CDK_DEFAULT_REGION="us-east-2" # Nightfall AWS Region

### Nightfall ###
export DNS_ZONE_NAME="xxxx.template.com"              # Nightfall DNS Zone
export DNS_HOSTED_ZONE_ID="DNSIDGOESHERE"             # Nightfall DNS Zone ID
export BLOCKCHAIN_URL="wss://template.com"            # Nightfall Blockchain URL
export NIGHTFALL_DASHBOARD_URL="https://template.com" # Nightfall Dashboard URL
export NIGHTFALL_OPTIMIST_URL="https://template.com"  # Nightfall Optimist URL
export L1_EXPLORER_URL="https://goerli.etherscan.io"  # Nightfall L1 Explorer URL

### Explorer ###

#Github params are only used for aws pipeline
export GIT_OWNER="OwnerOFGit"              # Nightfall Explorer GitHub Owner
export GIT_BRANCH="master"                 # Nightfall Explorer GitHub Branch
export GIT_TOKEN="/github/explorer/token"  # Use value from secret manager for github token generated in init script
export GIT_REPOSITORY="nightfall_explorer" # Nightfall Explorer GitHub Repository

# Has Edge case it is same as in Nightfall stack when retriving a secret for mongodb this is used as prefix
# So if envname is not the same as specified in Nightfall stack it will not be able to retrive the secret
export ENV_NAME="Testnet"                        # Nightfall Explorer Environment Name.
export APP_NAME="explorer"                       # Nightfall Explorer App Name. will be used accross cdk to cunstruct names for resources
export VPC_ID="vpc-someidhere"                   # Nightfall Explorer AWS VPC ID
export MATOMO_URL="https://matomo.template.com/" # Matomo Url for Nightfall Explorer
export MATOMO_SITE_ID="1"                        # Matomo Site ID for Nightfall Explorer

### EXPLORER API ###
export API_HOSTNAME="explorer-api"                  # Nightfall Explorer API Hostname
export API_TARGET_PORT="80"                         # Nightfall Explorer API Target Port
export API_LOG_GROUP="explorer-backend"             # Nightfall Explorer API Log Group
export API_TASK_CPU="256"                           # Nightfall Explorer API Task CPU
export API_TASK_MEMORY="512"                        # Nightfall Explorer API Task Memory
export API_AUTOSCALING_MIN_CAPACITY="1"             # Nightfall Explorer API Autoscaling Min Capacity
export API_AUTOSCALING_MAX_CAPACITY="3"             # Nightfall Explorer API Autoscaling Max Capacity
export API_AUTOSCALING_REQUEST_COUNT_NUMBER="20000" # When this number is reached in Load Balancer the autoscaling will scale up
export API_PORT="80"                                # Nightfall Explorer API Port
export API_ECR_REPOSITORY="explorer-backend"        # Nightfall Explorer API ECR Repository
export API_MONGODB_HOST="database.com"              # Nightfall Explorer API MongoDB Host
export API_MONGODB_PORT="27017"                     # Nightfall Explorer API MongoDB Port
export API_DATABSE_NAME="database_name"             # Nightfall Explorer API MongoDB Database Name

###### Special case for Private API if ever needed #####
# When this is filled up cdk will detect that private Explorer Api is needed and will deploy one
# only difference is that this one is on private load balancer and will not be exposed to the internet
####### Private Explorer Api #######
export API_PRIVATE_HOSTNAME="explorer-private-api"
export API_PRIVATE_TARGET_PORT=80
export API_PRIVATE_LOG_GROUP="explorer-backend-private"
export API_PRIVATE_TASK_CPU=256
export API_PRIVATE_TASK_MEMORY=512

### EXPLORER FRONTEND ###
export FRONTEND_HOSTNAME="explorer"
export FRONTEND_APP_NAME="Nightfall Explorer" # Nightfall Explorer Frontend App Name
export FRONTEND_NET_URLS="name#url,name#url"  # Nightfall Network Switcher (name#url,name#url) special pattern
export FRONTEND_NODEJS_VERSION="16"           # this will be used in a aws pipeline to build the frontend

###### Proposer Sync Service #######
export SYNC_HOSTNAME="explorer-sync"
export SYNC_LOG_GROUP="explorer-proposer-scoreboard"
export SYNC_ECR_REPOSITORY="explorer-proposer-scoreboard"
