@font-face {
  font-family: 'TWK Lausanne Family';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-300.woff2') format('woff2'),
  url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-300.woff') format('woff'),
  url('../fonts/TWK-Lausanne-Family/ttf/TWKLausanne-300.ttf') format('truetype');
}

@font-face {
  font-family: 'TWK Lausanne Family';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-400.woff2') format('woff2'),
  url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-400.woff') format('woff'),
  url('../fonts/TWK-Lausanne-Family/ttf/TWKLausanne-400.ttf') format('truetype');
}

@font-face {
  font-family: 'TWK Lausanne Family';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-600.woff2') format('woff2'),
  url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-600.woff') format('woff'),
  url('../fonts/TWK-Lausanne-Family/ttf/TWKLausanne-600.ttf') format('truetype');
}

@font-face {
  font-family: 'TWK Lausanne Family';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-700.woff2') format('woff2'),
  url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-700.woff') format('woff'),
  url('../fonts/TWK-Lausanne-Family/ttf/TWKLausanne-700.ttf') format('truetype');
}

@font-face {
  font-family: 'TWK Lausanne Family';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-900.woff2') format('woff2'),
  url('../fonts/TWK-Lausanne-Family/woff/TWKLausanne-900.woff') format('woff'),
  url('../fonts/TWK-Lausanne-Family/ttf/TWKLausanne-900.ttf') format('truetype');
}