.classic-select__control.classic-select__control {
  @apply w-auto rounded-xl py-0 px-0 cursor-pointer bg-white hover:bg-gray-25  border border-gray-100 flex items-center shadow-sm focus:outline-none;
}

.classic-select__control--is-focused.classic-select__control--is-focused {
  //border-color: var(--color-gray-200) !important;
}

.classic-select__indicator-separator.classic-select__indicator-separator {
  @apply hidden;
}

.classic-select__menu.classic-select__menu {
  @apply absolute top-[-8] bg-red-100 rounded-xl p-2 cursor-pointer bg-white  border border-gray-100 shadow-sm;
}

.classic-select__menu-list.classic-select__menu-list {
  @apply rounded-2xl;
  // bg-gray-100
}

.classic-select__menu-list.classic-select__menu-list {
  //@apply p-2;
}

.classic-select__option.classic-select__option {
  @apply rounded-xl;
}

.classic-select__option.classic-select__option:hover,
.classic-select__option.classic-select__option:active,
.classic-select__option.classic-select__option:focus,
.classic-select__option.classic-select__option:target {
  @apply bg-gray-100;
}

.classic-select__option.classic-select__option--is-focused.classic-select__option--is-selected.classic-select__option.classic-select__option--is-focused.classic-select__option--is-selected {
  @apply bg-gray-100 text-gray-800;
}

.classic-select__option.classic-select__option--is-selected.classic-select__option.classic-select__option--is-selected {
  @apply bg-gray-100 text-gray-800;
}

.classic-select__option.classic-select__option--is-focused.classic-select__option.classic-select__option--is-focused {
  @apply bg-transparent;
}

.classic-select__option.classic-select__option--is-focused.classic-select__option.classic-select__option--is-focused:hover {
  @apply bg-gray-50;
}

//#####

.gray-small-select__control.gray-small-select__control {
  min-width: 300px;
  @apply rounded-xl bg-gray-50 border-0 mt-2 py-0 w-auto py-0 px-2 cursor-pointer;
}

.gray-small-select__control--is-focused.gray-small-select__control--is-focused {
  border: 0 !important;
  box-shadow: none !important;
}

.gray-small-select__control--menu-is-open,
.gray-small-select__control--menu-is-open:active,
.gray-small-select__control--menu-is-open:focus,
.gray-small-select__control--menu-is-open:hover,
.gray-small-select__control--menu-is-open:target,
{
  margin-bottom: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.gray-small-select__placeholder.gray-small-select__placeholder {
  @apply text-sm text-gray-700;
}

.gray-small-select__indicator.gray-small-select__indicator {
  @apply text-gray-700;
}

.gray-small-select__indicator-separator.gray-small-select__indicator-separator {
  @apply hidden;
}

.gray-small-select__menu.gray-small-select__menu {
  border: 0 !important;
  box-shadow: none;

  @apply mt-0 rounded-b-xl rounded-t-none shadow-sm;
}

.gray-small-select__multi-value.gray-small-select__multi-value {
  @apply bg-white border border-gray-100 px-2 rounded-xl flex items-center;
}

.gray-small-select__multi-value__remove.gray-small-select__multi-value__remove {
  @apply bg-gray-700 rounded-full text-white m-2 p-0;
}
